* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}
